.navbar {
  display: flex;
  text-justify: auto;
  background-color: rgb(169, 154, 123);
}

.buffer-container {
  background-color: rgb(25, 24, 22);
  height: 100%;
}

.center-container {
  background-color: rgb(169, 154, 123);
  height: 100%;
}

.main-container {
  height: 100%;
}

.navbar-header {
  text-align: center;
}
